*{
    background-color:lightgray ;
}
h1{
    text-align: center;
    color: rgb(80, 80, 80);
}
img{
    width: 250px;
}

.fuenteGrande{
    font-size: 24px;
}

.Título{
    font-size: 50px;
}

a {
    text-decoration:none;
    color: rgb(195, 0, 0);

}